<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<title>Edit Password</title>

	<link rel="stylesheet" href="/static/css/styles.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script>
		$(document).ready(function(){
			$("#verif_failed").hide();
			$("#pass_mismatch").hide();

			{% if verif_failed == 1 %}
				$("#verif_failed").show();
			{% endif %}

			{% if pass_mismatch == 1 %}
				$("#pass_mismatch").show();
			{% endif %}
		});
	</script>

</head>
<body>

<div class="container">

	<header>

		<a href="/">

			<figure class="home_button">

				<img src="/static/home.png">

			</figure>

		</a>

		{% block signup %}
		{% if not session['logged_in'] %}
		
			<a href="/signup">

						<figure class="signup">

							<img src="/static/signup.png" width="50%">

						</figure>

					</a>

					<a href="/login">

						<figure class="login">

							<img src="/static/login.png" width="50%">

						</figure>

					</a>

		{% endif %}
		{% endblock %}

		{% block logout %}
		{% if session['logged_in'] %}
			<a href="/logout">

				<figure class="logout">

					<img src="/static/logout.png" width = "45.3%">

				</figure>

			</a>

			<a href="/my_account">

				<figure class="myaccount">

					<img src="/static/account.png" width = "18%">

				</figure>

			</a>

			<p id="user">Hello, {{ user }}</p>
		{% endif %}
		{% endblock %}

			<figure class="apple">

				<img src="/static/apple.svg" alt="Apple Logo">

			</figure>

			<figure class="apple3">

				<img src="/static/apple.svg" alt="Apple Logo">

			</figure>
		
			<div class="bar"></div>

			<!-- This <div> is used soley for my persistent navigation bar -->

			<nav class="menu">

				<ul>
			
					<li><a href="/steve_jobs">Steve Jobs</a></li>

					<li><a href="/reed_hastings">Reed Hastings</a></li>

					<li id="products"><a id="products2" href="/mark_zuckerberg">Mark Zuckerberg</a></li>

					<li><a href="/jcr_licklider">JCR Licklider</a></li>
					
					<li><a href="/create_page">Create New Page</a></li>

				</ul>

			</nav>

			<h1 class="sign">Change Password</h1>

	</header>

	<div class="signup_form">

		<h3 id="info">Update Password</h3>

		<div id="verif_failed">Your new passwords do not match. Please try again.</div>

		<div id="pass_mismatch">Incorrect current password. Please try again.</div>
		
		<form method="post" action="/new_password">
			
			<div class="box">

				<label for="current_password">Current password:</label>

				<input type="password" name="current_password" id="current_password" autofocus>	

			</div>

			<div class="box">

				<label for="new_password">New password:</label>

				<input type="password" name="new_password" id="new_password">	

			</div>

			<div class="box">

				<label for="confirm_password">Confirm password:</label>

				<input type="password" name="confirm_password" id="confirm_password">

			</div>

		<input class="submit" type="submit" value="Update">

		</form>

	</div>

</body>
</html>