<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">

	<title>My Account</title>

	<link rel="stylesheet" href="/static/css/styles.css">

</head>

<body>

<div class="container">

	<header>

		<a href="/">

			<figure class="home_button">

				<img src="/static/home.png">

			</figure>

		</a>

		{% block signup %}
		{% if not session['logged_in'] %}
		
			<a href="/signup">

						<figure class="signup">

							<img src="/static/signup.png" width="50%">

						</figure>

					</a>

					<a href="/login">

						<figure class="login">

							<img src="/static/login.png" width="50%">

						</figure>

					</a>

		{% endif %}
		{% endblock %}

		{% block logout %}
		{% if session['logged_in'] %}
			<a href="/logout">

				<figure class="logout">

					<img src="/static/logout.png" width = "45.3%">

				</figure>

			</a>

			<a href="/my_account">

				<figure class="myaccount">

					<img src="/static/account.png" width = "18%">

				</figure>

			</a>

			<p id="user">Hello, {{ user }}</p>
		{% endif %}
		{% endblock %}

			<figure class="apple">

				<img src="/static/apple.svg" alt="Apple Logo">

			</figure>

			<figure class="apple3">

				<img src="/static/apple.svg" alt="Apple Logo">

			</figure>
		
			<div class="bar"></div>

			<!-- This <div> is used soley for my persistent navigation bar -->

			<nav class="menu">

				<ul>
			
					<li><a href="/steve_jobs">Steve Jobs</a></li>

					<li><a href="/reed_hastings">Reed Hastings</a></li>

					<li id="products"><a id="products2" href="/mark_zuckerberg">Mark Zuckerberg</a></li>

					<li><a href="/jcr_licklider">JCR Licklider</a></li>
					
					<li><a href="/create_page">Create New Page</a></li>

				</ul>

			</nav>

			<h1 class="sign">My Account</h1>

			<div class="account_button"><a href="/edit_account">Edit account</a></div>

			<div class="account_button"><a href="/my_likes">My likes</a></div>

			<div class="account_button" id="bottom_button"><a href="/shared_with_me">Shared with me</a></div>

	</header>

	<div class="signup_form">

		<h3 id="info2">Account Information</h3>
			
		<p><strong>Full name:</strong> {{ fullName }}</p>

		<p><strong>Email address:</strong> {{ email }}</p>

		<p><strong>Age:</strong> {{ age }}</p>

		<p><strong>Gender:</strong> {{ gender }}</p>

		<div class="account_button2" id="bottom_button"><a href="/change_password">Change password</a></div>

	</div>

</body>
</html>